/* add css module styles here (optional) */

.rfeContaienr {
  display: flex;
}

/* ------------------------------------------- left panel - toolbox ------------------------------------------- */
.rfeToolbox {
  width: 241px;
  border-right: 1px solid #ccc;
}

.rfeToolItemModalLabel {
  font-size: 14px;
  font-weight: 500;
  padding: 6px;
}

.rfeToolItemDiv {
  display: inline-block;
  width: 120px;
  padding: 6px;
}

.rfeToolItem {
  cursor: move;
  padding: 6px;
  background: #f4f6fc;
  border: 1px solid #f4f6fc;
}

.rfeToolItem > span {
  font-size: 14px;
  color: #333;
}

.rfeToolItem:hover {
  border: 1px dashed #69c0ff;
}

/* ------------------------------------------- main panel - react grid layout ------------------------------------------- */
.rfePanel {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.rfeGridLayout {
  min-width: 800px;
  min-height: 400px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
}

.rfeFormItemDiv, .rfeFormItemDivSelected {
  position: relative;
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.rfeFormItemDiv:hover {
  background-color: #e6f7ff;
}

.rfeFormItemDivSelected {
  background-color: #69c0ff;
  z-index: 1002;
}

.rfeFormItemDiv::after, .rfeFormItemDivSelected::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  z-index: 1001;
}

.rfeFormItemDelDiv {
  position: absolute;
  bottom: -18px;
  right: 50px;
  width: 36px;
  height: 36px;
  z-index: 1009;
  background-color: #FFF;
  border: 1px solid #ff7875;
  border-radius: 18px;

  line-height: 36px;
  color: #ff7875;
  text-align: center;
}

.rfeFormItemDelDiv:hover {
  background-color: #ff7875;
  color: #fff;
}

/* ------------------------------------------- right panel - config panel ------------------------------------------- */
.rfePropertiesDiv {
  width: 300px;
  border-left: 1px solid #ccc;
}

.rfeConfigTabDiv {
  
}

.rfeConfigTab, .rfeConfigTabCurrent {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.rfeConfigTabCurrent {
  border-bottom: 2px solid #69c0ff;
}

/* ------------------------------------------- global and etc... ------------------------------------------- */
:global(.react-resizable-handle) {
  z-index: 1009;
}